@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

/* 

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

*/
@layer base{
    :root{

        --Bright-orange: 31 77% 52%;
        --Dark-cyan: 184 100% 22%;
        --Very-dark-cyan-primary: 179 100% 13%;

        --Very-dark-cyan: 0 0% 100% 0.75;
        --Very-light-gray-background-headings-buttons: 0 0% 95;

    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply justify-center items-center h-lvh
}

.container{
    @apply flex flex-row justify-center items-center p-5 
}

.left-container {
    @apply bg-primaryBorange
}

.mid-container{
    @apply bg-primaryCyan
}

.right-container{
    @apply bg-primaryCyan
}